.demo-form-inline[data-v-6699365f]{display:flex;align-items:center;justify-content:center}.demo-form-inline .el-input[data-v-6699365f]{--el-input-width: 220px}.demo-form-inline .el-select[data-v-6699365f]{--el-select-width: 220px}
