.demo-form-inline[data-v-fe130121]{display:flex;align-items:center;justify-content:center}.demo-form-inline .el-input[data-v-fe130121]{--el-input-width: 220px}.demo-form-inline .el-select[data-v-fe130121]{--el-select-width: 220px}
